@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap");
@font-face {
  font-family: "Futura-ExtraBold";
  src: local("Futura"), url("/fonts/Futura-ExtraBold Extra Bold.ttf");
  font-weight: normal;
}

:root {
  --primary-color: #f04444;
  --secondary-color: #f86262;
  --dark-color: #000000;
  --light-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFBF5;
  color: black;
  font-family: "Inter", sans-serif;
}

.futura {
  font-family: "Futura-ExtraBold", "Inter", sans-serif;
}
.teko {
  font-family: "Teko", sans-serif;
}

.grad {
  color: #fff;
  background-image: -webkit-linear-gradient(315deg, #fff 62%, #c02908 78%);
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
}

.stroke {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px;
}

.bg-image {
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-position: center;
}



.card:hover {
  box-shadow: 0 0 25px -3px var(--primary-color);
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ScrollMenuDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
